{% extends 'clientesapp/base.html' %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Index</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
    </head>
    <body>
        {% block content %}
        <form method="post" class="post-form" action="/clnt/">
            {% csrf_token %}
            <div class="container">
                <br>
                <div class="form-group row">
                    <label class="col-sm-1 col-form-label"></label>
                        <div class="col-sm-4">
                            <h3>Ingrese los Datos</h3>
                        </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Cedula</label>
                    <div class="col-sm-4">
                        {{form.cedula}}
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Nombre</label>
                    <div class="col-sm-4">
                        {{form.nombre}}
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Celular</label>
                    <div class="col-sm-4">
                        {{form.celular}}
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">e-mail</label>
                    <div class="col-sm-4">
                        {{form.email}}
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Direccion</label>
                    <div class="col-sm-4">
                        {{form.direccion}}
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-4">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </div>
            </div>
        </form>
    {% endblock %}
    </body>
</html>