{% extends 'clientesapp/base.html' %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Clientes</title>
</head>
<body>

    {% block content %}
        <h1 class="mt-2">Clientes</h1>
        <hr class="mt-0 mb-4">
        <br>
        <h4 class="mt-2">Asignar Cliente para esta Orden</h4>

        <div class="card card-body">

            <form method="GET">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Cedula</label>
                    <div class="col-sm-4">
                        <input type="text" name="cedula" value=""/>
                    </div>
                </div>
                <button class="btn btn-primary" type="submit">Buscar</button>
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-danger" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
                <br>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Nombre</label>
                    <div class="col-sm-4">
                        <input type="text" name="nombre" value=""/>
                    </div>
                </div>
                <button class="btn btn-primary" type="submit">Buscar</button>
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-danger" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
                <a href="/clnt/"><span class="position-absolute bottom-0 end-0 btn btn-success">Nuevo Cliente</span></a>
            </form>
        </div>

    {% endblock %}
</body>
</html>